{% extends '::base.html.twig' %}


{% block body %}
{% javascripts %}

{% endjavascripts %}



                <script src="/js/dojo/dojo.js" data-dojo-config="async: true, baseURL: /js/"></script>
                
                <script>
                require(["dgrid/Grid", "dojo/store/JsonRest", "dojo/request", "dojo/json", "dojo/domReady!"], 
                    function(Grid,JsonRest,request, json){
                        var grid = new Grid({
                            columns: {
                                id:         "ID",
                                name:       "Name",
                                amount:     "Amount",    
                                conf:       "Conf #",
                                due:        "Due",
                                scheduled:  "Scheduled",
                                paid:       "Paid",
                                cleared:    "Cleared",
                                created:    "Created",
                                updated:    "Updated"
                            }
                        }, "grid");


                        request.get("/app_dev.php/bills/grid/current",{
                            handleAs: 'json'
                        }).then(
                                function(data){
                                    grid.renderArray(data);
                                }
                            )
                    });

                      
                    </script>
                  
                  
                  <div id="grid"></div>
{%endblock%}