{% extends '::base.html.twig' %}
{% block body %}
<a href="{{path('new_biller')}}">New biller</a>

{% if records is defined%}
    {%for record in records%}
<p>
    <a href="{{path('show_biller', {'name': record.name})}}">{{record.name}}</a>
</p>
    {%endfor%}
{% endif %}

{%endblock%}