<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts %}
            
        {% endjavascripts %}
                <script src="/js/dojo/dojo.js" data-dojo-config="async: true, baseURL: /js/"></script>
                
                  <script>
                      require(["dgrid/Grid", "dojo/domReady!"], function(Grid){
                          var grid = new Grid({ /* options here */ }, "grid");
                          
                      });
                  </script>
                  
                  
                  <div id="grid"></div>
    </body>
</html>
