{% extends '::base.html.twig' %}
{% block body %}
<h2>Bill Templates</h2>
<a href="{{path("new_template")}}">Add New</a>

{% if records is defined%}
    {%for record in records%}
        <p>
            <a href="{{path('show_template', {nickname:record.nickname}) }}">{{record.nickname}}</a>
        </p>
    {%endfor%}
{% endif %}

{%endblock%}